# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches y logs
*.log
*.pot
*.mo

# Archivos de bases de datos temporales
*.sqlite3
*.db
*.sqlite

# Archivos de entorno virtual
env/
venv/
ENV/
.venv/
.ENV/

# Archivos de configuración de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de matplotlib y Jupyter
*.matplotlib
.ipynb_checkpoints/

# Archivos de PyInstaller
dist/
build/
*.spec

# Archivos de pruebas
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Archivos de distribución
*.egg-info/
*.egg

# Otros archivos temporales
*.bak
*.tmp
*.swp